* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  } 
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  .show_choices{
    display: flex;
    justify-content: space-around;
    margin-top:80px;
  }
  
  
  .show_choices {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    font-size: 25px;
  }
  
  .show_choice {
    height: 70px;
    width: 300px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile devices with a maximum screen width of 768px */
    .choices {
      display: flex;
      justify-content: space-evenly;
      width: 420px;
      margin-left: 10px;
    }
    .choice {
      margin-bottom: 20px;
    }
    .score-board {
      display: flex;
      justify-content: space-evenly;
    }
    #user-score,
    #comp-score {
      font-size: 3rem;
    }
    .msg-container {
      margin-top: 3rem;
    }
    #msg {
      font-size: 1.5rem;
    }
    .show_choices {
      display: flex;
      justify-content: space-evenly;
      width: 400px;
    }
    .show_choice {
      width:160px;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* For mobile devices with a maximum screen width of 480px */
    h1 {
      height: 3rem;
      line-height: 3rem;
      width:430px ;
    }
    .choice {
      height: 100px;
      width: 100px;
    }
    img {
      height: 120px;
      width: 120px;
    }
    .score-board {
      font-size: 1.5rem;
    }
    #user-score,
    #comp-score {
      font-size: 2rem;
    }
    .msg-container {
      margin-top: 2rem;
    }
    #msg {
      font-size: 1rem;
    }
    .show_choices {
      font-size: 20px;
    }
    .show_choice {
      height: 50px;
      padding: 5px;
    }
  }
  